@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dangky">
    <h4 align="center">Đăng ký</h4>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <table align="center">
            <tr>
                <td class="label">Họ Và Tên:</td>
                <td class="input">
                    @Html.TextBox("HotenKH")
                </td>
                <td class="error">@ViewData["loi1"]</td>
            </tr>
            <tr>
                <td class="label">Tên đăng nhập:</td>
                <td class="input">
                    @Html.TextBox("TenDN")
                </td>
                <td class="error">
                    @ViewData["loi2"]
                </td>
            </tr>
            <tr>
                <td class="label">Mật khẩu:</td>
                <td class="input">
                    @Html.Password("Matkhau")
                </td>
                <td class="error">
                    @ViewData["loi3"]
                </td>
            </tr>
            <tr>
                <td class="label">Nhập lại mật khẩu:</td>
                <td class="input">
                    @Html.Password("nhaplaiMK")
                </td>
                <td class="error">
                    @ViewData["loi4"]
                    @ViewData["loi8"]
                </td>
            </tr>
            <tr>
                <td class="label">Địa chỉ Email:</td>
                <td class="input">
                    <input type="email" name="Email" />
                </td>
                <td class="error">
                    @ViewData["loi5"]
                </td>
            </tr>
            <tr>
                <td class="label">Địa chỉ:</td>
                <td class="input">
                    @Html.TextBox("Diachi")
                </td>
                <td class="error">
                    @ViewData["loi6"]
                </td>
            </tr>
            <tr>
                <td class="label">Điện thoại:</td>
                <td class="input">
                    @Html.TextBox("Dienthoai")
                </td>
                <td class="error">
                    @ViewData["loi7"]
                </td>
            </tr>
            <tr>
                <td class="label">Ngày sinh:</td>
                <td class="input">
                    <input type="date" name="Ngaysinh" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">
                    <input type="submit" value="Đăng ký" />
                </td>
            </tr>
        </table>
    }
</div>

<style>
    .dangky {
        margin-top: 20px;
        text-align: center;
    }

    table {
        margin: 0 auto;
        width: 500px;
    }

    .label {
        width: 150px;
        padding-right: 10px;
        text-align: right;
    }

    .input {
        width: 200px;
    }

    .error {
        color: red;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>
